.cuidar{
    margin-top: 150px;
    margin-bottom:150px;
    .flexCuidar{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            font-size: 5vh;
            font-family: 'Megrim', sans-serif;
            color:$colorfuente;
            margin-bottom: 40px;
            margin-left: 10px;
        }
        p{
            text-shadow: rgb(255, 4, 167) 1px 0 10px;
            font-weight: bolder;
            font-size: 28px;
            font-family: 'Megrim', sans-serif;
            color: $colorfuente;
            margin-top: 40px;
            margin-left: 10px;
        }
        ol{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-left: 10px;
            li{
                font-size: 20px;
                font-family: 'Manrope', sans-serif;
                color: $colorfuente;
            }
        }
    }
}