
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Megrim&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #774360;
}