.primeraSec {
    padding: 15%;
    margin-top: 120px;
    background-image: url(../img/backgro2.jpg);
    background-size: 100%;
    
    & h1{
            margin-top: 55px;
            font-size: 35px;
            text-align: center;
            font-family: 'Megrim', sans-serif;
            font-size: 6.5vh;
            color: $colortitulos;
    }
    
    & .botonPosition{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    
    & .botonUno{
        margin-bottom: 12px;
        font-size: 25px;
        border-radius: 20px;
        background-color:$colorfondo1 ;
        color: $colorfuente;
        padding: 0.2rem 1rem;
        font-family: 'Manrope', sans-serif;
        font-weight: bold;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        border: $colorfondo1 ;
        transition: 1s;
        @include mobile{
            font-size: 15px;
        }
    }
    & .botonUno:hover{
        background-color: $colorfuente ;
        color: $colorfondo1;
    }
    
}

.tituloUno {
    margin-top: 30px;
    padding: 1%;
    font-family: 'Manrope', sans-serif;
    color: $colorfuente;
    text-align: center;
    background-color:$colortitulos;
    @include mobile{
        font-size: 20px;
    }
    
}
.resumenUno {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    @include breakNueve{
        flex-direction: column;
    }

    & .parRa {
        font-size: 25px;
        line-height: 1.5;
        font-family: 'Manrope', sans-serif;
        color: $colorfuente;
        text-align: center;
        margin-top: 50px;
        @include breakNueve{
            font-size: 22.5px;
        }
        @include breakNav{
            font-size: 20px;
        }
        @include mobile{
            font-size: 15px;
        }
        
        
    }
    & .clauImg{
        width: 500px;
        margin: 5px;
        border-radius: 5px;
        @include breakNueve{
            margin-top: 50px;
            width: 400px;
        }
        @include breakNav{
            display: none;
        }
    }
    & .positonPa{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }
    & .botonDos{
        border-radius: 20px;
        margin-top: 50px ;
        background-color: $colorfuente;
        color: $colortitulos ;
        padding: 0.2rem 1rem;
        font-family: 'Manrope', sans-serif;
        transition: 1s;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        font-size: 20px;
        font-weight: bold;
        border: $colorfuente;

        
        @include mobile{
            font-size: 15px;
        }
    }
    & .botonDos:hover{
        background-color: $colorfondo1;
        color: $colorfuente;
    }
}


.segundaSec{

    & h1{
        font-size: 35px;
        margin-bottom: 35px;
        padding: 1%;
        font-family: 'Manrope', sans-serif;
        color:  $colorfuente;
        text-align: center;
        background-color: $colortitulos;
        @include mobile{
            font-size: 20px;
        }
    }
    & .imgSize{
        border-radius: 10px;
        width: 300px;
    }
    & .btn3{
        display: flex;
        justify-content: center;

        .botonTres{
            margin-bottom: 50px;
            margin-top: 50px;
            border-radius: 20px;
            background-color:$colorfuente ;
            color:  $colortitulos;
            padding: 0.2rem 1rem;
            transition: 1s;
            font-family: 'Manrope', sans-serif;
            font-size: 20px;
            font-weight: bold;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            border: $colorfuente;
            @include mobile{
                font-size: 15px;
            }
        }
        & .botonTres:hover{
        background-color: $colorfondo1;
        color: $colorfuente;
        }
    }
    
    & .loqueHimg{
        position: relative;
        width: 100%;
        margin: 0px auto ;
        display: grid;
        grid-gap: 20px;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "divProduct1 divProduct2 divProduct3"
        "divProduct4 divProduct5 divProduct6"
        ;
        .divProduct1{
            grid-area: divProduct1;
            position: relative;

        }
        .divProduct2{
            grid-area: divProduct2;
            position: relative;
        }
        .divProduct3{
            grid-area: divProduct3;
            position: relative;
        }
        .divProduct4{
            grid-area: divProduct4;
            position: relative;
        }
        .divProduct5{
            grid-area: divProduct5;
            position: relative;
        }
        .divProduct6{
            grid-area: divProduct6;
            position: relative;
        }
        @include breakNueve{
            grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "divProduct1 divProduct2"
        "divProduct3 divProduct4"
        "divProduct5 divProduct6";
        }
        @include breakNav{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
            "divProduct1"
            "divProduct2"
            "divProduct3"
            "divProduct4"
            "divProduct5"
            "divProduct6"
        ;
        }
        img{
            @include mobile{
                height: auto;
                width: 200px;
            }
        }
        & .overlay{
            position: absolute;
            bottom: 5px;
            left: 0;
            background: rgba(255, 255, 255, 0.584);
            border-radius: 10px;
            width: 100%;
            height: 0;
            overflow: hidden;
            transition: .5s ease;
        }
        & .tituloImg{
            font-family: 'Manrope', sans-serif;
            position: absolute;
            font-size: 25px;
            color:#000;
            top: 50%;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
        }
        .divProduct1:hover .overlay{
            height: 98.5%;
            cursor: pointer;
        }
        .divProduct2:hover .overlay{
            height: 98.5%;
            cursor: pointer;
        }
        .divProduct3:hover .overlay{
            height: 98.5%;
            cursor: pointer;
        }
        .divProduct4:hover .overlay{
            height: 98.5%;
            cursor: pointer;
        }
        .divProduct5:hover .overlay{
            height: 98.5%;
            cursor: pointer;
        }
        .divProduct6:hover .overlay{
            height: 98.5%;
            cursor: pointer;
        }
    }

}